.calculator-button{
    background-color: #FFF;
    border: 1px solid #DDD !important;
    border-radius: var(--ion-radius);
    box-shadow: 2px 1px 17px -10px rgba(0,0,0,0.09);
    -webkit-box-shadow: 2px 1px 17px -10px rgba(0,0,0,0.09);
    -moz-box-shadow: 2px 1px 17px -10px rgba(0,0,0,0.09)
}
.calculator-button.ac{
    background-color: var(--ion-color-primary);
    border: none;
}