.login-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
    position: relative;
    background-color: #FFF !important;
  }
  
  .login-box {
    width: 28%;
    padding: 2rem;  
    justify-content: center;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    margin: auto 10vw;
    position: relative;
    top: 20vh;
  }
  
  .login-box h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  
  .custom-input {
    margin-bottom: 1rem; 
    border-radius: 1rem;
    background-color: #FBFBFB;

    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    
  --placeholder-color: #867676;
  }
  
  .login-button {
    background-color: #8fb6f8;
    color: white;
    border-radius: 1rem;
  }
  
  .image-box {
    width: 70%;
    /* display: flex; */
    align-items: center;
    justify-content: center; 
    position: absolute;
    right: -1rem;
    z-index: -1;
    bottom: -1.5rem;
    top: 0;
  }
  
  .image-box img {
    width: 90%;
    max-width: 500px;
  }
  


  @media only screen and (max-width: 600px) {
    .login-box {
        width: 90vw;
        margin: 5vw;
       
        top: 20vh;
      }
      .login-container {
        height: 100vh;
      }
      .image-box{
        width: 100%;
        bottom: 0 !important;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
  }